   name: Ngrok RDP
   on: [push]
   jobs:
     deploy:
       runs-on: ubuntu-latest
       steps:
         - name: Setup Ngrok
           run: |
             sudo apt-get update
             sudo apt-get install -y ngrok
             ngrok authtoken ${{ secrets.NGROK_AUTH_TOKEN }}
             ngrok tcp 3389 &
   
